header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  width: 100vw;
}

header > ul {
  width: calc(100% - 64px);

  padding: 0 !important;
  margin: 0 !important;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 20px !important;
  padding-left: 32px !important;
  padding-right: 32px !important;
}

header > ul > a {
  cursor: pointer;

  color: white;
}
